@font-face {
  font-family: "PAC-FONT";
  src: url(./PAC-FONT.TTF);
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: PAC-FONT, serif;
  background-color: #050505;
}
header {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: rgb(77, 77, 243);
  box-shadow: 5px 5px 8px #ff5386, 0px 0px 4px #ff5386;
  margin-bottom: 10px;
}
h1 {
  text-align: center;
  color: rgb(255, 255, 0);
}
main {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 50%;
  height: 80vh;
  border: blue 2px solid;
  background-color: rgb(77, 77, 243);
  box-shadow: 2px 2px 8px #ff5386, 0px 0px 4px #ff5386;
}

#box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 200px;
  top: 200px;
  animation: changeBackgroundImg 0.3s infinite;
  background-image: url(./img/0.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes changeBackgroundImg {
  0% {
    background-image: url("./img/0.png");
  }
  45% {
    background-image: url("./img/1.png");
  }
  85% {
    background-image: url("./img/2.png");
  }
  100% {
    background-image: url("./img/3.png");
  }
}
